$cor-fundo:#303030;
$cor-fonte:#EAE0D5;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: $cor-fundo;
    color: $cor-fonte;
    font-family: "Rajdhani" , sans-serif;
}

header {
    background-color: #C6AC8F;
    padding: 1vh;
    margin : 0.5;
    height: 19vh;

    .header_menu {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: row;

            .header_menu_icons {
                width: 1.5vw;
                margin: 2vh;
                margin-left: 10vh;
                margin-right: 10vh;
            }

            .header_menu_logo {
                width: 4vw;
            }
        }
    
    .header_link_nav {
        display: flex;
        justify-content: space-around;

        a {
            color: #0A0908;
            text-decoration: none;
            font-family: "Big Shoulders Stencil", sans-serif;
            font-weight: 900;
            font-size: 3vh;
            margin: 1vh;
        }
    }
}

main {
        .main_conteudo_section {
            font-family: "Rajdhani" , sans-serif;
            display: flex;
            flex-direction: column;
            align-items: center;

            //
            .main_conteudo_section_nav-title {
                font-family: "Big Shoulders Stencil" , sans-serif;
                font-size: 4vh;
                margin: 1vh;
                margin-left: 0;
                margin-right: 0;
            }

            //
            .main_conteudo_section_img_squad {
                width: 85vw;
            }

            //
            .main_conteudo_section_kerb {
                font-family: "Big Shoulders Stencil" , sans-serif;
                font-size: 5vh;
                margin-top: 2vh;
                margin-left: 0;
                margin-right: 0;
                align-self: flex-start;
                margin-left: 13vh;
            }

            //
            .main_conteudo_section_h3 {
                font-family: "Big Shoulders Stencil" , sans-serif;
                font-size: 2.7vh;
                margin-top: 2vh;
                align-self: flex-start;
                margin-left: 13vh;
            }

            //
            .main_conteudo_section_p {
                font-size: 2vh;
                margin-top: 0.7vh;
                margin-left: 13vh;
                margin-right: 13vh;
                align-self: flex-start;
            }
        }

        ol {
            align-self: flex-start;
            list-style: none;
            margin-left: 17vh;
            font-size: 2vh;

            li {
                margin-top: 1.7vh;
                margin-bottom: 1vh;

                h4 {
                    font-size: 2.3vh;
                    font-family: "Big Shoulders Stencil" , sans-serif;
                }
            }
        }

        .main_conteudo_section_portoesh3 {
            font-size: 5vh;
            margin-top: 5vh;
            margin-bottom: 5vh;
            font-family: "Big Shoulders Stencil" , sans-serif;
        }

        .main_conteudo_section_logos_div {
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin: 1vh;
            width: 30vw;
                
            .main_conteudo_section_logos_div-noturn {
                h3 {
                    margin-left: 8vh;
                    margin-bottom: 1vh;
                    align-self: center;
                }
                    
                font-family: "Big Shoulders Stencil" , sans-serif;
                font-size: 3vh;

                .main_conteudo_section_logos-noturn{
                    width: 30vw;
                    margin: 5vh;
                    margin-left: 0vh;
                    margin-top: 0;
                }
            }

            .main_conteudo_section_logos_div-assalt {
                h3 {
                    margin-left: 10vh;
                    margin-bottom: 1vh;
                }
                    
                font-family: "Big Shoulders Stencil" , sans-serif;
                font-size: 3vh;

                .main_conteudo_section_logos-assalt{
                    width: 30vw;
                    margin: 3vh;
                    margin-right: 0;
                    margin-top: 0;
                }
            }
        }
    }

footer {
    background-color: #C6AC8F;
    color: #0A0908;
    font-family: "Big Shoulders Stencil" , sans-serif;
    font-size: 1.3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
}

@media (max-width: 440px) {
    
    header {
        background-color: #C6AC8F;
        padding: 1vh;
        margin : 0.5;
    
        .header_menu {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: row;

            .header_menu_icons {
                width: 5vw;
                margin: 2vh;
            }

            .header_menu_logo {
                width: 10vw;
            }
        }

        .header_link_nav {
            display: flex;
            justify-content: space-between;

            a {
                color: #0A0908;
                text-decoration: none;
                font-family: "Big Shoulders Stencil", sans-serif;
                font-weight: 900;
                font-size: 1.7vh;
                margin: 1vh;
            }
        }
    }

    main {
        .main_conteudo_section {
            font-family: "Rajdhani" , sans-serif;
            display: flex;
            flex-direction: column;
            align-items: center;

            //
            .main_conteudo_section_nav-title {
                font-family: "Big Shoulders Stencil" , sans-serif;
                font-size: 2.7vh;
                margin: 1vh;
                margin-left: 0;
                margin-right: 0;
            }

            //
            .main_conteudo_section_img_squad {
                width: 85vw;
            }

            //
            .main_conteudo_section_kerb {
                font-family: "Big Shoulders Stencil" , sans-serif;
                font-size: 3.5vh;
                margin-top: 2vh;
                margin-left: 0;
                margin-right: 0;
                align-self: flex-start;
                margin-left: 3vh;
            }

            //
            .main_conteudo_section_h3 {
                font-family: "Big Shoulders Stencil" , sans-serif;
                margin-top: 1vh;
                align-self: flex-start;
                margin-left: 3vh;
            }

            //
            .main_conteudo_section_p {
                margin-top: 0.7vh;
                margin-left: 3vh;
                margin-right: 3vh;
                align-self: flex-start;
            }

            ol {
                list-style: none;
                margin-left: 3vh;

                li {
                    margin-top: 1.7vh;
                    margin-bottom: 1vh;
                }
            }

            .main_conteudo_section_portoesh3 {
                font-size: 1.89vh;
                margin: 3vh;
                font-family: "Big Shoulders Stencil" , sans-serif;
            }

            .main_conteudo_section_logos_div {
                display: flex;
                flex-direction: row;
                margin: 0vh;
                
                .main_conteudo_section_logos_div-noturn {
                    h3 {
                        margin-left: 1vh;
                        margin-bottom: 1vh;
                    }
                    
                    font-family: "Big Shoulders Stencil" , sans-serif;
                    font-size: 1.3vh;

                    .main_conteudo_section_logos-noturn{
                        width: 40vw;
                        margin: 1.5vh;
                        margin-left: 1vh;
                        margin-top: 0;
                    }
                }

                .main_conteudo_section_logos_div-assalt {
                    h3 {
                        margin-left: 1.9vh;
                        margin-bottom: 1vh;
                    }
                    
                    font-family: "Big Shoulders Stencil" , sans-serif;
                    font-size: 1.3vh;

                    .main_conteudo_section_logos-assalt{
                        width: 40vw;
                        margin: 1.5vh;
                        margin-right: 0;
                        margin-top: 0;
                    }
                }
            }
        }
    }


    footer {
        background-color: #C6AC8F;
        color: #0A0908;
        font-family: "Big Shoulders Stencil" , sans-serif;
        font-size: 1.3vh;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 5vh;
    }
}
